- if @flights.present?
  %table
    %tr
      %th Type of Ship
      %th Date
      %th Flight #
      %th From-To
      %th Plane
      / %th Seat
    - @flights.each do |flight|
      %tr
        %td= flight.first.plane.name
        %td= flight.date
        %td= link_to(flight.number, flight)
        %td= flight.origin + ' > ' + flight.destination
        %td= flight.plane_id
        / %td= flight.seat
