.row
  .large-3.columns
    = form_for @plane, :remote => true do |f|
      = f.label :name
      = f.text_field :name, :autofocus => true
      = f.label :num_rows
      = f.text_field :num_rows
      = f.label :num_columns
      = f.text_field :num_columns
      = f.submit nil, :class => 'button tiny radius success'
      = link_to 'Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert'
      
  .large-9.columns


