.row
  .large-3.columns
    = form_tag search_index_path, :action => 'create', :remote => true do |f|
      %table
        %tr
          %td
            = label_tag :origin
          %td
            = select_tag :origin, options_for_select(@flights.map{ |i| [i.origin, i.origin] })
          %td
            = label_tag :destination
          %td
            = select_tag :destination, options_for_select(@flights.map{ |i| [i.destination, i.destination] })
          %td
            = link_to 'Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert'
          %td
            = submit_tag nil, :class => 'button tiny radius success'
  .large-9.columns

