- if @flights.present?
  %table
    %tr
      %th Type of Plane
      %th Date
      %th Flight Number
      %th From-To
      %th Plane
    - @flights.each do |flight|
      %tr
        %th= flight.plane
        %td= flight.date
        %td= link_to(flight.number, flight)
        %td= flight.origin + ' > ' + flight.destination
        %td= flight.plane_id
