.row
  .large-3.columns
    = form_tag '/login', :remote => true do
      = text_field_tag :email, nil, :placeholder => 'Email', :autofocus => true
      = password_field_tag :password, :placeholder => 'password'
      = submit_tag 'Start Travel', :class => 'button tiny radius success'
      = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert')
  .large-9.columns